/* GENERAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  font-family: Lato, sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  min-width: 320px;
  padding: 10px;
  min-height: 550px;
}

body {
  height: 100%;
  border: 3px solid black;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  opacity: 0.6;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* HEADER STYLES */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header .logo {
  display: flex;
  font-size: 2rem;
  padding-bottom: 20px;
}

.hide {
  display: none;
}

header ul.topNav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

header .brand {
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
}

.nav-link {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: black;
  padding: 10px 1px 5px 1px;
}

.nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  opacity: 0.6;
}

/* hero styles */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: black;
  padding: 20px 40px;
  min-height: 300px;
}

.hero-content {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero h3 {
  font-weight: 300;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
  line-height: 150%;
}

.socials {
  display: flex;
  padding-left: 0.2rem;
  list-style-type: none;
  font-size: 1.5rem;
}

.socials li {
  padding-right: 20px;
  margin: 20px 0;
}

/* Footer Styles */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 40px;
}

footer p {
  opacity: 0.6;
  font-size: 12px;
}

@media (min-width: 500px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media (min-width: 600px) {
  header {
    flex-direction: row;
    justify-content: center;
    padding: 40px 40px;
  }

  header .logo {
    display: none;
  }

  header .hide {
    display: flex;
  }

  header .brand {
    width: 50%;
  }

  header ul.topNav {
    justify-content: flex-end;
    width: 50%;
  }

  header ul.topNav li {
    padding-left: 40px;
  }

  .hero-content h3 {
    font-size: 3rem;
  }

  .footer-box {
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    height: 50px;
    width: 50px;
  }
}

.highlighted {
  border: 1px solid black;
  padding: 0 10px;
  background-color: black;
  color: white;
}

.underlined {
  border-bottom: 3px solid black;
}

.tooltip {
  position: relative;
}

.tooltip::before {
  content: "Coming Soon!";
  position: absolute;
  top: 50%;
  left: -50%;
  width: 100px;
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 25px;
  background-color: black;
  color: white;
  letter-spacing: 0.01rem;
  display: none;
}

.tooltip:hover::before {
  display: flex;
}
